#footer= "欢迎来访 " + '© '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  script(src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js", async)
  spin(id="busuanzi_container_site_pv")="本站访问量"
    span(id="busuanzi_value_site_pv")
    |次
  //- 次

  //- a(href="http://www.51.la/?19030025", target="_blank")= "统计"
  //- script(type="text/javascript", src="//js.users.51.la/19030025.js", async)
  //- script(type="text/javascript", src="//quote.51.la/?id=19030025&amp;mb=1", async)